[Unit]
Description=JinCreek Admin App running on Ubuntu

[Service]
WorkingDirectory=/opt/apps/Admin
ExecStart=/usr/bin/dotnet /opt/apps/Admin/Admin.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-jincreek-admin
User=jincreek
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
Alias=jincreek-admin.service

